// Madhus and Madhus Scss Document
//mixins
@mixin abs {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

@mixin default_docset {
    h1 {
        font-size: 350%;
        font-weight: 700;
        color: #F26D13;
        -webkit-text-stroke: 1px #000;

        &.big {
            font-size: 420%;
        }
    }

    h2 {
        font-size: 320%;
        font-weight: 700;
        color: #F26D13;
        -webkit-text-stroke: 0.5px #000;
    }

    h3 {
        font-size: 260%;
        font-weight: 600;
        color: #F26D13;
        -webkit-text-stroke: 0.5px #000;
    }

    h1,
    h2,
    h3 {
        letter-spacing: 1px;

        &.basestyle1 {
            font-size: 300%;
            font-weight: 700;
            color: #333;
            -webkit-text-stroke: 0px #000;
            display: block;
            background-color: #cccccc;
            padding: 5px;
            margin-top: 15px;
        }
    }

    h1,
    h2 {
        margin-bottom: 12px;
    }

    h3,
    h4 {
        margin-bottom: 6px;
    }

    h5,
    h6 {
        margin-bottom: 0px;
    }

    p,
    ul,
    ol {
        font-family: 'Karla', sans-serif;
        font-size: 170%;
        color: #575250;
        font-weight: 400;
        margin: 0px;

        + p,
        + ul,
        + ol {
            margin-top: 12px;
        }

        + h2,
        + h3,
        + h4,
        + h5,
        + h6 {
            margin-top: 18px;
        }
    }

    ul {
        margin-left: 30px;

        + ul {
            margin-left: 30px;
        }
    }

    li {
        font-size: 100%;
        list-style: disc;

        + li {
            margin-top: 6px;
        }
    }

    label {
        font-size: 170%;
        display: block;
        width: 100%;

        .form-control {
            font-size: 88.235%;
            display: block;
            width: 100%;
            margin-top: 6px;
        }
        * {
            font-size: 100%;
        }
    }

    form {
        padding: 10px 5px;
        user-select: none;
        button {
            font-size: 170%;
            color: #ffffff;
            background-color: #FF7A3D;
            text-align: center;
            border: 0px outset #FF7A3D;
            text-decoration: none;
            display: inline-block;
            border-radius: 50px;
            padding: 12px 15px 12px 15px;
            line-height: normal;
            margin: auto;
            outline: none;

            &:focus,
            &:hover {
                background-color: #FF6823;
            }

            &:active {
                box-shadow: inset 0px 0px 6px 5px #f94f06;
            }
        }
    }
}

//fonts
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,500;1,800&family=Rubik:wght@400;600;700&display=swap');
/*icons*/
@import url("madhus-icons.css");
@import url("fontawesome.css");
@import url("../assets/aos-anim.css");

//declare variables
:root {
    --subhdmt: 120px;
    --smscrnp: 0.52082vw;
    --smscrnpn: -0.52082vw;
}

/* Safari, IE11 and standard syntax */
:-webkit-full-screen,
:-ms-fullscreen,
:fullscreen {}

//body
body {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	.swiper{
		font-size: 10px;
	}
    @media (max-width: 991px) {
        font-size: 8px;
		.swiper{
			font-size: 8px;
		}
    }

    @media (max-width: 319px) {
        font-size: 6px;
		.swiper{
			font-size: 6px;
		}
    }

    * {
        padding: 0px;
        margin: 0px;
        list-style: none;

        &:active {
            transition: none;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        &.btn_1 {
            color: #ffffff;
            background-color: #FF7A3D;
            text-align: center;
            border-color: #FF7A3D;
            text-decoration: none;
            display: inline-block;
            border-radius: 50px;
            padding-top: 12px;
            padding-right: 20px;
            padding-bottom: 12px;
            padding-left: 15px;
            line-height: normal;
            margin: auto;

            [class*="fa-"] {
                padding: 0px 6px;
                transition: all 0.3s linear;
            }

            &:focus,
            &:hover {
                color: #ffffff;
                text-decoration: none;

                [class*="fa-"] {
                    transform: scale(1.1);
                }
            }

            &:active {
                color: #ffffff;
                box-shadow: inset 0px 0px 6px 5px #f94f06;

                [class*="fa-"] {
                    transition: none;
                    transform: scale(1.05);
                }
            }
        }
    }

    p {
        margin-bottom: 1em;

        a {
            color: #c73f00;
            outline: none;

            &:hover,
            &:focus {
                color: #FF580B;
                text-decoration: underline;
            }

            &:active {
                color: #E84900;
                text-decoration: none;
            }
        }
    }

    .madhus_pgmargin {
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 0;
    }

    //Header
    header {
        background-color: rgba(31, 24, 16, 0.49);
        width: 100%;
        position: fixed;
        z-index: 2;
        max-height: 100vh;

        @media (max-width: 991px) {
            overflow: auto;

            &.madhusgrey {
                background-color: rgba(31, 24, 16, 0.9);
            }
        }

        @media (max-height: 414px) {
            position: absolute;
        }
    }

    .navbar {
        font-family: 'Saira', sans-serif;
        font-size: 150%;
        background: none;
        padding: 0.5rem 0px;
    }

    .navbar-brand {
        img {
            background-color: #ffffff;
            max-width: 94px;
        }
    }

    .dropdown-toggle::after {
        font-family: 'FontAwesome';
        font-size: 70%;
        content: "\f078";
        border: none;
    }

    .navbar-collapse {
        flex-grow: 0;
    }

    .navbar-expand-lg {
        .menu {
            display: flex;
            margin: 0px;
            padding: 0px;
            flex-wrap: nowrap;

            .menu-item {
                list-style: none;

                &.current-menu-item {
                    a {
                        background: rgba(28, 27, 27, 0.67);
                    }
                }

                a {
                    font-size: 100%;
                    color: #ffffff;
                    background: rgba(28, 27, 27, 0);
                    padding: 4px 30px;
                    line-height: normal;
                    border-radius: 25px;
                    position: relative;
                    text-decoration: none;

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        width: 0%;
                        left: -25%;
                        right: -12px;
                        height: 1px;
                        background-color: #ffffff;
                        transition: none;
                    }

                    &:hover,
                    &:focus {
                        &:before {
                            left: 12px;
                            width: calc(100% - 1.5em);
                            transition: left .3s ease-in-out, width .3s ease-in-out;
                        }
                    }

                    &.dropdown-toggle::after {
                        vertical-align: middle;
                    }
                }
            }
        }

        .navbar-nav {
            .nav-item {
                margin: 0px 3px;
            }

            .nav-item.active .nav-link {
                background: rgba(28, 27, 27, 0.67);
            }

            .nav-link {
                font-size: 100%;
                color: #ffffff;
                background: rgba(28, 27, 27, 0);
                padding: 4px 25px;
                line-height: normal;
                border-radius: 25px;
                position: relative;

                //        overflow: hidden;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    width: 0%;
                    left: -25%;
                    right: -12px;
                    height: 1px;
                    background-color: #ffffff;
                    transition: none;
                }

                &:hover,
                &:focus {
                    background-color: orangered;

                    &:before {
                        left: 12px;
                        width: calc(100% - 1.5em);
                        transition: left .3s ease-in-out, width .3s ease-in-out;
                    }
                }

                &:active {
                    box-shadow: inset 3px 3px 5px 2px #C83600;
                }

                &.dropdown-toggle::after {
                    vertical-align: middle;
                }

                @media (min-width: 1200px) {
                    padding: 4px 30px;
                }

                @media (max-width: 991px) {
                    padding: 12px 24px;
                }
            }

            .dropdown-menu {
                font-size: 100%;
                background-color: #413a3a;
                padding: 0px;
                margin: 0px;
                width: 245px;
                border-radius: 25px;
                box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
                overflow: hidden;

                a.dropdown-item {
                    color: #ffffff;
                    padding: 13px 31px;
                    white-space: normal;
                    word-wrap: break-word;

                    &:hover,
                    &:focus {
                        background-color: #080808;
                    }

                    @media (max-width: 991px) {
                        padding: 12px 24px;
                    }
                }
            }

            .nav-item {
                &:last-child {
                    .dropdown-menu {
                        right: 0px;
                        left: auto;
                    }
                }
            }

            @media (max-width: 991px) {
                margin: 12px 0px;
            }
        }
    }

    @media (max-width: 991px) {
        .navbar-expand-lg {
            .navbar-nav {
                .nav-link {
                    &:before {
                        display: none;
                    }
                }

                .dropdown-menu {
                    width: 100%;
                }
            }

            .navbar-toggler {
                background-color: #ffffff;
                line-height: 24px;
                color: #080808;
                outline: none;
                border-radius: 0px;

                span {
                    display: block;
                    transform: scaleX(1.5);
                }

                &:hover,
                &:focus {
                    // box-shadow: 0px 0px 8px #ccc;
                }

                &:active {
                    box-shadow: inset 0px 0px 5px #999;
                }
            }
        }

        .container {
            max-width: 100%;
        }

        [class*="col-"] {
            padding: 0px calc(var(--smscrnp)*15/6);
        }

        .row {
            margin: 0px calc(var(--smscrnpn)*15/6);
        }
    }

    //mains
    main {
        background: #f8f5f4;
        min-height: 60vh;
        position: relative;
        z-index: 1;
		opacity: 0;
		&.show{
			opacity: 1;
			transition: opacity 0.7s linear;
		}
    }

    section {
        &.docset1 {
            padding: calc(var(--subhdmt) + 60px) 0px 60px;
        }

        .madhus_default {
            padding: 60px 0px 0px;
            @include default_docset;
        }

        &.docset1 {
            .madhus_default {
                padding: 0px;
                @include default_docset;
            }
        }

        span.req {
            color: red;
        }

        [class*="madhus_"] {
            &[data-aos="zoomin"] {
                &.aos-animate {
                    animation-name: zoom-in;
                    animation-duration: 1.25s;
                }
            }
        }

        .madhus_secn_1 {
            padding: 30px 0px;
        }

        .madhus_photo {
            display: block;
            padding: 15px 0px;
            margin: 30px 0px;

            img {
                border-radius: 12px;
            }

            &.right {
                img {
                    border-radius: 1px 101px 43px 1px;
                }
            }

            &.left {
                img {
                    border-radius: 101px 1px 1px 43px;
                }
            }
        }

        @media (max-width: 991px) {
            .madhus_secn_1 {
                padding: calc(var(--smscrnp)*30/8) 0px;
            }

            .madhus_photo {
                padding: calc(var(--smscrnp)*15/8) 0px;
                margin: calc(var(--smscrnp)*30/8) 0px;
            }
        }

        @media (max-width: 319px) {
            .madhus_secn_1 {
                padding: calc(var(--smscrnp)*30/6) 0px;
            }

            .madhus_photo {
                padding: calc(var(--smscrnp)*15/8) 0px;
                margin: calc(var(--smscrnp)*30/6) 0px;
            }
        }
    }

    //Carousel
    #madhuscarousel {
        position: relative;
        overflow: hidden;

        .carousel-inner {
            min-height: 100vh;
        }

        .carousel-item {
            position: absolute;
            top: 0px;
            bottom: 0px;
            overflow: hidden;

            .carousel-bg {
                display: block;
                background-position: top center;
                background-repeat: no-repeat;
                background-size: cover;
                @include abs;
                transform: scale(1.05);
            }

            &.active {
                .carousel-bg {
                    animation: scale_anim 6s linear 1;
                }
            }
        }

        &.verticle {
            .carousel-item-prev.carousel-item-right {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            .carousel-item-prev {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
            }

            .active.carousel-item-right {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
            }

            .carousel-item-next.carousel-item-left {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            .carousel-item-next {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
            }

            .active.carousel-item-left {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
            }
        }

        @keyframes scale_anim {
            from {
                transform: scale(1.05);
            }

            to {
                transform: scale(1.2);
            }
        }

        .carousel_text {
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            color: #ffffff;
            text-transform: capitalize;
            max-width: 692px;
            min-height: 100vh;
            padding: 180px 0px 60px;
            margin: auto;

            .carousel_text_1 {
                position: relative;
                z-index: 1;
                padding-bottom: 120px;

                @media (max-width: 424px) {
                    //					transform: scale(0.9);
                }

                @media (max-width: 319px) {
                    //					transform: scale(0.7);
                }
            }

            &:before {
                @include abs;
                z-index: 0;
                content: "";
                background-image: linear-gradient(360deg, #6EC1E4 43%, #000000 100%);
                filter: brightness(31%) contrast(122%) saturate(0%) blur(0.5px) hue-rotate(37deg);
                opacity: 0.3;
            }

            .d-flex {
                position: relative;
                z-index: 1;
            }

            h1,
            h2,
            p {
                line-height: normal;
                margin: 0px;
            }

            h2,
            p {
                margin-top: 12px;
            }

            h1 {
                font-size: 240%;
                font-weight: 600;
            }

            h2 {
                font-size: 480%;
                font-weight: 600;

                &.text-size-2 {
                    font-size: 290%;
                }
            }

            p {
                font-size: 160%;

                a {
                    &.btn {
                        font-family: 'Karla', sans-serif;
                        font-size: 81.25%;
                        font-weight: 500;
                        color: #000000;
                        background-color: rgba(255, 255, 255, 0.84);
                        display: inline-block;
                        text-align: center;
                        padding: 15px 40px 16px;
                        margin: 30px 0px 0px;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                        border-radius: 50px;
                        transform: scale(1);
                        transition: transform 0.3s linear;
                        text-decoration: none;

                        &:hover,
                        &:focus {
                            color: #ff7a3d;
                            transform: scale(1.1);
                        }

                        &:active {
                            color: #FC6019;
                            transition: none;
                            box-shadow: inset 2px 2px 5px #a9a9a9;
                        }
                    }
                }

                &.text-size-1 {
                    font-size: 300%;
                }
            }

            .text-stroke1 {
                -webkit-text-stroke: 1px #000000;
                text-stroke: 1px #000000;
            }

            .text-shadow1 {
                text-shadow: 3px 3px 14px rgba(0, 0, 0, 0.66);
            }

            .text-shadow2 {
                text-shadow: 2px 2px 0px rgba(12, 12, 12, 0.99);
                line-height: 22px;
            }
        }

        #Carousel_shape1 {
            display: block;
            left: 0px;
            width: 100%;
            position: absolute;
            bottom: 0px;

            img {
                width: 100%;
                height: auto;
                transform: rotateX(180deg);
            }
        }
    }

    //Services
    #madhus_services {
        background-image: url("../images/backgrounds/IMG-20181217-WA0043-1.jpg");
        background-position: left top;
        background-repeat: repeat;
        background-size: auto 100%;
        padding-bottom: 120px;
        min-height: 88.5vh;

        .container {
            margin-top: -120px;
        }

        .madhus_services_1 {
            background-color: #ffffff;
            padding: 30px;
            height: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);

            .madhus_services_2 {
                background-color: #ffffff;
                text-align: center;
                padding: 30px 15px;
                box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);

                a[class*="madhus-Icons_"],
                h2,
                p {
                    margin: 0px;
                }

                a[class*="madhus-Icons_"] {
                    font-size: 400%;
                    color: #FFFFFF;
                    background-color: #FF7A3D;
                    text-decoration: none;
                    display: inline-block;
                    padding: 21px;
                    margin: auto;
                    border-radius: 100%;

                    &:hover,
                    &:focus {
                        animation-name: pulse;
                        animation-duration: 1s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }

                    &:active {
                        color: #F3EFEF;
                        animation: none;
                        transform: scale(0.9);
                    }

                    + h2 {
                        margin-top: 24px;
                    }
                }

                h2 {
                    color: #1E1810;
                    font-size: 200%;
                    font-weight: 700;

                    + p {
                        margin-top: 12px;
                    }
                }
            }

            p {
                font-family: 'Karla', sans-serif;
                font-size: 150%;
                color: #575250;
                line-height: 1.85714285714286;
                text-transform: capitalize;

                + p {
                    margin-top: 12px;
                }
            }

            .madhus_services_3 {
                padding-top: 25px;
                text-align: center;

                p {
                    a {
                        &.btn-1 {
                            color: #ffffff;
                            background-color: #FF7A3D;
                            text-align: center;
                            border-color: #FF7A3D;
                            text-decoration: none;
                            display: inline-block;
                            border-radius: 50px;
                            padding-top: 12px;
                            padding-right: 15px;
                            padding-bottom: 12px;
                            padding-left: 15px;
                            line-height: normal;
                            margin: auto;

                            &:focus,
                            &:hover {
                                .madhus-Icons_phone {
                                    display: inline-block;
                                    animation-name: anim-pulse;
                                    animation-duration: 1s;
                                    animation-timing-function: ease-in-out;
                                    animation-iteration-count: infinite;
                                    animation-fill-mode: both;
                                }
                            }

                            &:active {
                                box-shadow: inset 0px 0px 6px 5px #f94f06;

                                .madhus-Icons_phone {
                                    animation: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //Service list
    #madhus_service_list {
        padding: 30px 0px 60px;

        .madhus_service_list_bg {
            img {
                border-radius: 245% 167% 5% 200%;
                box-shadow: -12px 61px 28px -32px rgba(0, 0, 0, 0.85);
            }
        }

        .madhus_service_list_1 {
            position: relative;
            padding: 122px 0px 0px;
            margin-bottom: -100%;
            position: relative;
            z-index: 1;

            h2 {
                font-size: 350%;
                color: #FFFFFF;
                font-weight: 700;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: #000;
                text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                margin-bottom: 12px;
            }

            ul {
                font-size: 250%;

                li {
                    color: #FF7A3D;
                    font-size: 100%;
                    font-weight: 600;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #B25600;
                    //					text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
                    transform: scale(1);
                    transition: transform 0.3s linear;

                    &:hover {
                        transform: scale(1.2);
                    }

                    + li {
                        margin-top: 6px;
                    }
                }
            }

            @media (max-width: 767px) {
                padding: 60px 0px 0px;
                margin-bottom: 0px;
            }
        }
    }

    //Clients
    #madhus_clients {
        padding: 60px 0px;

        h2 {
            font-size: 350%;
            font-weight: 700;
            color: #FD7429;
            text-transform: uppercase;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #000;
            text-shadow: -6px 4px 22px rgba(0, 0, 0, 0.61);
            border: double #000;
            text-align: center;
            margin-bottom: 30px;
        }

        .madhus_clients_1 {
            overflow: hidden;

            .swiper-wrapper {
                width: 100%;
                align-items: center;
                margin-bottom: 12px;

                .swiper-slide {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    //About
    #madhus_about {
        @include default_docset;

        .madhus_about_1 {
            padding: 25px 15px;
        }

        .madhus_about_2 {
            padding: 25px 15px;
        }

        .madhus_about_3 {
            form {
                button {
                    width: 140px;
                    max-width: 100%;
                }
            }
        }
    }

    //Business Services
    #madhus_business_services {
        background-color: #f8f5f4;

        h1 {
            margin: 0px;
            margin-bottom: 18px;
        }

        .madhus_business_services_1 {
            padding: 25px 0px;

            h2 {
                font-size: 300%;
            }

            h2,
            img,
            p {
                margin: 0px;
                margin-bottom: 18px;
            }

            p {
                &:last-child {
                    margin-bottom: 0px;
                }
            }

            img {
                width: auto;
                height: 115px;
            }
        }
    }

    //Hoarding
    #madhus_hoardings {
        .madhus_secn_1 {}

        a.madhus_photo {
            display: block;
            padding: 0px;
            border-radius: 20px;
            text-decoration: none;
            outline: none;
            transition: all 0.2s linear;

            &:hover,
            &:focus {
                background-color: orangered;
            }

            &:active {
                background-color: #CE3700;
                transition: none;
            }
        }
    }

    //LED Sign Boards
    #madhus_LED_sign_boards {
        .madhus_secn_1 {}

        .madhus_photo {}

    }

    //Outdoor Printing
    #madhus_outdoor_branding {
        .madhus_secn_1 {
            padding: 15px 0px;

            @media (max-width: 991px) {
                padding: calc(var(--smscrnp)*15/8) 0px;
            }

            @media (max-width: 319px) {
                padding: calc(var(--smscrnp)*15/6) 0px;
            }
        }

        .madhus_photo {
            margin: 0px;
        }
    }

    //Digital Marketing
    #madhus_digital_marketing {
        .madhus_secn_1 {
            padding: 15px 0px;
        }

        .madhus_photo {
            margin: 0px;
            padding-bottom: 30px;

            @media (max-width: 991px) {
                padding-bottom: calc(var(--smscrnp)*30/8);
            }

            @media (max-width: 319px) {
                padding-bottom: calc(var(--smscrnp)*30/6);
            }
        }
    }

    //Web and Graphic Design and Development
    #madhus_Web_Graphic_Design {
        .madhus_secn_1 {
            padding: 30px 0px;

            h2 {
                text-align: center;
            }

            @media (max-width: 991px) {
                padding: calc(var(--smscrnp)*30/8) 0px;
            }

            @media (max-width: 319px) {
                padding: calc(var(--smscrnp)*30/6) 0px;
            }
        }

        .madhus_photo {
            margin: 0px;
            padding-bottom: 30px;

            @media (max-width: 991px) {
                padding-bottom: calc(var(--smscrnp)*30/8);
            }

            @media (max-width: 319px) {
                padding-bottom: calc(var(--smscrnp)*30/6);
            }
        }
    }

    //Gallery
    #madhus_gallery {
        .madhus_gallery1 {
            border: double;

            h1 {
                text-align: center;
                text-shadow: -6px 4px 22px rgba(0, 0, 0, 0.61);
                padding: 6px;
                margin: 0px;
            }
        }

        #gallery1 {
            border: double;
            padding: 12px;
            user-select: none;
            a.madhus_gallery_2 {
                display: block;
                max-width: 25%;
                &:hover, &:focus, &:active{
                    outline: none;
                }
                span {
                    display: block;
                    margin: 3px;
                    border: 1px solid #8a7075;
                    overflow: hidden;
                    position: relative;

                    img {
                        transform: scale(1.1);
                        transition: transform 0.3s linear;
                    }

                    .madhus_caption {
                        font-size: 120%;
                        color: #ffffff;
                        text-transform: capitalize;
                        background-color: #db0c2a;
                        position: absolute;
                        display: block;
                        border: none;
                        height: auto;
                        width: 100%;
                        bottom: 0px;
                        margin: 0px;
                        text-align: center;
                    }
                }

                &:hover,
                &:focus {
                    span {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }

                &:active {
                    span {
                        img {
                            transform: scale(1.15);
                            transition: none;
                        }
                    }
                }

                @media (max-width: 991px) {
                    max-width: 33.3333%;
                }

                @media (max-width: 567px) {
                    max-width: 50%;
                }
            }
        }

        #gallery2 {
            border-radius: 30px 30px 30px 30px;
            box-shadow: 5px 6px 10px 0px rgba(242.53125, 88.48722855623816, 4.7451766304347816, 0.5) inset;
            padding: 30px;
            border-color: #f8f5f4;
            border-style: double;
            pointer-events: none;
            user-select: none;
            &:hover{
                background-color: rgba(242, 82, 9, 0.61);
                border-style: double;
                box-shadow: 1px 0px 11px 4px rgba(0,0,0,0.5) inset;
                transition: background 3s;
            }
            a.madhus_gallery2_1 {
                display: block;
                outline: none;
                span {
                    display: block;
                    margin: 3px;
                    border: 3px solid #100F0F;
                    overflow: hidden;
                    position: relative;

                    img {
                        transform: scale(1.1);
                        transition: transform 0.3s linear;
                    }

                    .madhus_caption {
                        font-size: 120%;
                        color: #ffffff;
                        text-transform: capitalize;
                        background-color: #100F0F;
                        position: absolute;
                        display: block;
                        border: none;
                        height: auto;
                        width: 100%;
                        bottom: 0px;
                        margin: 0px;
                        text-align: center;
                    }
                }
                pointer-events: auto;
                &:hover,
                &:focus {
                    span {
                        border-color: rgba(242, 82, 9, 0.61);

                        img {
                            transform: scale(1.2);
                        }
                    }
                }

                &:active {
                    span {
                        border-color: rgba(147, 49, 5, 0.61);

                        img {
                            transform: scale(1.15);
                            transition: none;
                        }
                    }
                }

                @media (max-width: 991px) {
                    max-width: 33.3333%;
                }

                @media (max-width: 567px) {
                    max-width: 50%;
                }
            }
        }
        
        #gallery3{
            padding: 30px 4px 6px;
            box-shadow: 0px 0px 10px 0px rgba(243,88,5,0.5) inset;
            border-radius: 25px;
            overflow: hidden;
            .swiper {
                width: 100%;
                user-select: none;
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    width: 450px;
                    height: auto;
                    img {
                        display: block;
                        width: 100%;
                    }
                    @media (max-width: 767px){
                        width: 60vw;
                    }
                    @media (max-width: 567px){
                        width: 50vw;
                    }
                    .madhus_caption{
                        font-size: 10px;
                        font-weight: 600;
                        text-transform: uppercase;
                        display: block;
                        background-color: #edebeb;
                        text-align: center;
                        padding: 3px 5px;
                    }
                }
                &.swiper-3d {
                    .swiper-slide-shadow-right {
                        background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
                    }
                    .swiper-slide-shadow-left {
                        background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
                    }
                }
                .btn{
                    font-size: 240%;
                    font-weight: bold;
                    color: #ffffff;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                    box-shadow: none;
                    &#swiper-button-prev{
                        left: 0px;
                    }
                    &#swiper-button-next{
                        right: 0px;
                    }
                    &:hover, &:focus{
                        box-shadow: 1px 1px 5px rgba(170,61,3,0.72);
                    }
                    &:active{
                        background-color: rgba(170,61,3,0.32);
                        box-shadow: inset 0 0 5px 2px rgba(170,61,3,0.72);
                    }
                }
            }
        }
    }

    #gallery_region1 {
        background-color: rgba(0, 0, 0, .8);
        display: none;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        user-select: none;

        .swiper {
            height: 100%;
        }

        .swiper-slide {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
			
            &.swiper-slide-zoomed {
                .madhus_slide {
                    overflow: visible;
                }
            }

            .madhus_slide {
                display: inline-block;
                position: relative;
                overflow: hidden;
                z-index: 0;

                img {
                    max-height: 75vh;
                    width: auto;
                }

                .swiper-caption {
                    font-size: 240%;
                    line-height: normal;
                    color: #ffffff;
                    text-transform: capitalize;
                    background-color: #db0c2a;
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 9px;
                    position: absolute;
                    bottom: 0px;
                }

                [style*="translate3d"] {
                    .swiper-caption {
                        display: none;
                    }
                }

                [style*="translate3d(0px, 0px, 0px)"] {
                    img {
                        //						transform: scale(1.1)!important;
                    }

                    .swiper-caption {
                        display: block;
                    }
                }
            }
        }

        [class*="swiper-button-"] {
            z-index: 1;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: 240%;
            font-weight: bold;
            color: #ffffff;
        }

        .btn-group1 {
            display: inline-block;
            width: auto;
            height: auto;
            padding: 15px;
            position: fixed;
            right: 0px;
            top: 0px;
            z-index: 2;

            button {
                &.btn {
                    background: none;
                    color: #ffffff;
                    font-size: 200%;
                    display: block;
                    text-align: center;
                    width: 42px;
                    height: 42px;
                    padding: 0px;
                    margin: 6px;
                    border-radius: 100%;
                    outline: none;
                    box-shadow: none;

                    [class*="eicon-"] {
                        display: inline-block;
                    }

                    &:hover,
                    &:focus {
                        background-color: orangered;
                    }

                    &:active {
                        box-shadow: inset 3px 3px 3px 0px #D33900;
                    }
                }
            }
        }

        .swiper-pagination {
            font-size: 150%;
            font-weight: normal;
            color: #ffffff;
            position: fixed;
            left: 0px;
            top: 0px;
            display: inline-block;
            width: auto;
            height: 42px;
            padding: 12px;
        }

        .swiper-scrollbar {
            display: none;
        }

        @media(min-width: 991px) {

            .swiper-button-prev,
            .swiper-rtl .swiper-button-next {
                left: 10vw
            }

            .swiper-button-next,
            .swiper-rtl .swiper-button-prev {
                right: 10vw;
            }
        }
    }
	
	//Products
	#madhus_products{
		padding-bottom: 60px;
		.swiper{
			padding: 20px;
			z-index: 0;
			background-image: linear-gradient(120deg, #ff7a3d 0%, #000 100%);
			border-radius: 25px;
			border: 3px double #cccccc;
			&:before{
				content: "";
				background-image: url("../images/products/pattern1.png");
				background-repeat: repeat;
				background-attachment: fixed;
				display: block;
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0.5;
			}
			
		}
		.swiper-wrapper{
			z-index: 2;
		}
		.swiper-pagination{
			position: relative;
			display: block;
			padding: 12px 6px;
			z-index: 3;
			.swiper-pagination-bullet{
				width: 20px;
				height: 10px;
				border-radius: 0;
				margin: 4px;
				background: #32160b;
				outline: 1px solid #b96351;
				opacity: 0.5;
				&.swiper-pagination-bullet-active{
					background: orangered;
					opacity: 1;
				}
			}
		}
		.swiper-slide{
			.madhus_products_1{
				user-select: none;
				.product-photo{
					display: block;
					padding: 12px 6px;
					img{
						border: 3px double #f26d13;
					}
					.product-caption{
						font-size: 143%;
						background-color: #F5F5F5;
						display: block;
						padding: 0px;
						box-shadow: 0px 3px 2px 0px #f26d13;
						ul{
							font-size: 100%;
							display: block;
							padding: 12px;
							margin: 0px;
							li{
								font-size: 100%;
								padding: 0px 0px 0px 19px;
								margin: 0px;
								line-height: normal;
								position: relative;
								list-style: none;
								&:before{
									font-family: eicons;
									content: "\e910";
									font-weight: 400;
									position: absolute;
									right: 95%;
									top: 1px;
								}
								ul, ol{
									font-size: 92.8568%;
									border-bottom: none;
									margin-bottom: 0px;
									padding: 0px;
									ul, ol{
										font-size: 100%;
									}
								}
								ol{
									counter-reset: list;
									li{
										&:before{
											content: counter(list) ").";
											counter-increment: list;
											top: 0px;
											margin: 0px -2px 0px 0px;
										}
									}
								}
							}
							+ p{
								margin: 0px;
								padding: 7px 0px 0px;
								border-top: 3px solid #cccccc;
							}
						}
						p{
							font-size: 100%;
							line-height: normal;
							&.note{
								color: #ef2229;
								font-size: 90%;
								font-style: italic;
								padding: 7px 13px;
							}
						}
						@media (max-width: 991px) {
							ul{
								padding: calc(1.2px * 8);
								li{
									padding: 0px 0px 0px calc(1.9px * 8);
									&:before{
										top: calc(0.1px * 8);
									}
								}
							}
						}
						@media (max-width: 319px) {
							ul{
								padding: calc(1.2px * 6);
								li{
									padding: 0px 0px 0px calc(1.9px * 6);
									&:before{
										top: calc(0.1px * 6);
									}
								}
							}
						}
					}
				}
			}
		}
		.swiper-button-prev{
			left: 0px;
			&:active{
				box-shadow: inset 1px 1px 3px 1px #F6BF9A;
			}
		}
		.swiper-button-next{
			right: 0px;
			&:active{
				box-shadow: inset -1px 1px 3px 1px #F6BF9A;
			}
		}
		.swiper-button-prev, .swiper-button-next{
			display: block;
			outline: none;
			border: 3px double #f49759;
			z-index: 3;
			&:after{
				color: orangered;
				font-size: 160%;
				font-weight: bolder;
			}
			&:hover, &:focus{
				background-color: #FBE4D5;
			}
		}
	}
    
    //Contact
    #madhus_contact{
        h2{
            text-align: center; 
        }
        h3{
            [class*="fa-"]{
                font-size: 100%;
                color: #818a91;
                float: left;
                margin: 0px 6px 6px 0px;
                -webkit-text-stroke-color: #818a91;
            }
        }
        li, p{
            a{
                color: #575250;
                text-decoration: none;
                &:hover, &:focus{
                    color: orangered;
                }
                &:active{
                    color: #C63500;
                }
            }
        }
        form{
            .input-group{
                flex-wrap: nowrap;
                column-gap: 16px;
                .form-group{
                    width: 100%;
                }
            }
            .checkboxstyle1{
                font-size: 80%;
                label{
                    position: relative;
                    input[type="checkbox"]{
                        opacity: 0;
                        z-index: -1;
                        position: absolute;
                        &:focus{
                            + .checkbox{
                                border-color: #80bdff;
                                outline: 0;
                                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                            }
                        }
                        &:checked{
                            + .checkbox{
                                background-color: #fa753b;
                                .eicon-check{
                                    display: block;
                                }
                            }
                        }
                    }
                    .checkbox{
                        display: block;
                        text-align: center;
                        background-color: #ffffff;
                        width: 20px;
                        height: 20px;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-radius: 0.25rem;
                        margin: 3px 6px 3px 0px;
                        padding: 0px;
                        min-width: 20px;
                        .eicon-check{
                            color: #ffffff;
                            display: none;;
                            margin-top: 3px;
                        }
                    }
                }
            }                
            @media (max-width: 576px){
               .input-group{
                    flex-wrap: wrap;
                } 
            }
            button{
                margin-top: 16px;
            }
        }
    }

    //Subheader
    #madhus_subheader {
        text-align: center;
        background-color: transparent;
        background-image: linear-gradient(120deg, #ff7a3d 0%, #000000 100%);

        h1 {
            font-size: 480%;
            font-weight: 700;
            color: #ffffff;
        }
		@media (max-width: 374px){
			h1{
				font-size: 375%;
			}
		}
    }

    //Document setting 1
    .madhus_docset1 {
        padding: 55px 0px 0px;

        &:last-child {
            padding-bottom: 55px;
        }

        .row {
            row-gap: 25px;
        }

        [class*="col-"] {
            text-align: center;
        }

        h2 {
            font-size: 300%;
            font-weight: 600;
            color: #F26D13;
            -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.22);
        }

        a.madhus_serv_secn1 {
            display: block;
            text-decoration: none;
            outline: none;

            span {
                display: block;
                border: 3px double #000000;
                border-radius: 9px 9px 9px 9px;

                img {
                    transition-duration: 0.5s;
                    border-radius: 8px 8px 8px 8px;
                }
            }

            p strong,
            h3 {
                font-size: 200%;
                font-weight: 700;
                color: #1e1810;
                text-transform: capitalize;
                display: inline-block;
                padding: 7px 13px;
                margin: 10px 0px 0px;
                border-radius: 20px;
                transition-duration: 0.5s;
            }

            &:hover,
            &:focus {
                span {
                    img {
                        transform: scale(1.1);
                        opacity: 0.9;
                    }
                }

                p strong,
                h3 {
                    color: #ffffff;
                    background-color: orangered;
                }
            }

            &:active {
                span {
                    img {
                        transform: scale(1.05);
                        transition: none;
                    }
                }

                p strong,
                h3 {
                    transition: none;
                    box-shadow: inset 5px 5px 3px #D83A00;
                }
            }
        }

        .madhus_serv_secn2 {
            font-family: 'Karla', sans-serif;

            h3 {
                font-size: 190%;
                font-weight: 400;
                color: #575250;
                text-transform: uppercase;
            }

            p strong {
                font-size: 690%;
                font-weight: 600;
                color: #DE3333;
            }
        }

        .madhus_socials {
            a {
                font-size: 250%;
                font-weight: 400;
                color: #ffffff;
                display: inline-block;
                margin: 2px;
                text-decoration: none;

                .fab {
                    display: inline-flex;
                    width: 50px;
                    height: 50px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10%;
                    transition: background-color 0.6s linear;

                    &.fa-facebook {
                        background-color: #3b5998;
                    }

                    &.fa-twitter {
                        background-color: #1da1f2;
                    }

                    &.fa-youtube {
                        background-color: #cd201f;
                    }

                    &.fa-telegram {
                        background-color: #2ca5e0;
                    }

                    &.fa-instagram {
                        background-color: #262626;
                    }
                }

                &:hover,
                &:focus {
                    .fab[class*="fa-"] {
                        background-color: orangered;
                    }
                }

                &:active {
                    .fab[class*="fa-"] {
                        transition: none;
                        box-shadow: inset 2px 2px 5px #CE3700;
                    }
                }
            }
        }
    }

    //Footer
    footer {
        font-family: 'Karla', sans-serif;
        font-size: 160%;
        color: #ffffff;
        position: relative;
        z-index: 0;

        .madhus_ft_secn1 {
            color: #333333;
            background-image: linear-gradient(135deg, rgb(227, 107, 7) 0%, rgb(255, 255, 255) 49%, rgb(242, 98, 98) 100%);
            padding: 88px 30px 75px;

            .madhus_ft_secn1_1 {
                display: block;
                max-width: 480px;
                margin: auto;

                ul {
                    margin: 0px;

                    li {
                        font-size: 106.25%;
                        list-style-type: none;
                        padding: 0px 5px;
                        margin: 2px;

                        a {
                            font-size: 100%;
                            color: #0d6f6f;
                            display: block;
                            background-color: rgba(255, 69, 0, 0.00);
                            border-radius: 25px;
                            padding: 5px 13px;
                            text-decoration: none;
                            transition: background-color 0.6s linear;

                            &:hover,
                            &:focus {
                                color: #ffffff;
                                background-color: #FF4500;
                            }

                            &:active {
                                background-color: #FF4500;
                                transition: none;
                                box-shadow: inset 2px 2px 5px #CE3700;
                            }
                        }
                    }
                }
            }

            @media (max-width: 991px) {
                padding: calc(var(--smscrnp)*88/8) calc(var(--smscrnp)*30/8) calc(var(--smscrnp)*75/8);
            }

            @media (max-width: 319px) {
                padding: calc(var(--smscrnp)*88/6) calc(var(--smscrnp)*30/6) calc(var(--smscrnp)*75/6);
            }
        }

        .madhus_ft_secn2 {
            text-align: center;
            background-color: #0d0d0d;
            min-height: 80px;
            padding: 30px;
            border-style: solid;
            border-width: 0px;
            border-top-width: 5px;
            border-top-color: rgba(255, 255, 255, 0.2);

            .madhus_ft_secn2_1 {
                a {
                    color: #ff6600;
                    text-decoration: none;
                    text-align: center;

                    &:hover,
                    &:focus {
                        color: #ffffff;
                        text-decoration: underline;
                    }

                    &:active {
                        color: #cccccc;
                        text-decoration: none;
                    }
                }
            }

            .madhus_ft_secn2_2 {
                font-size: 100%;
                line-height: normal;
            }

            @media (max-width: 991px) {
                min-height: calc(var(--smscrnp)*80/8);
                padding: calc(var(--smscrnp)*30/8);
            }

            @media (max-width: 319px) {
                min-height: calc(var(--smscrnp)*80/6);
                padding: calc(var(--smscrnp)*30/6);
            }
        }
    }

    //Animations
    @keyframes pulse {
        25% {
            transform: scale(1.1);
        }

        75% {
            transform: scale(0.9);
        }
    }

    @keyframes anim-pulse {
        0% {
            transform: scaleX(1) rotate(0);
        }

        50% {
            transform: scale3d(1.25, 1.25, 1.25) rotate(18deg);
        }

        to {
            transform: scaleX(1) rotate(0);
        }
    }

    @keyframes zoom-in {
        0% {
            opacity: 0;
            transform: scale3d(.3, .3, .3);
        }

        50% {
            opacity: 1;
        }
    }
}
